.wrapper {
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin-bottom: 56px;

    .buttons {
        display: flex;
        gap: 20px;
    }

    .button {
        width: 50px;
        height: 50px;
        border: 1px solid #42567A;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &.disabled {
            opacity: 0.5;
            border-color: #ccc;
        }

        @media(max-width: 480px) {
            width: 25px;
            height: 25px;

            .arrow {
                width: 10px;
                height: 10px;
            }
        }
    }

    .counter {
        color: #42567A;
    }

    @media(max-width: 480px) {
        margin-top: 78px;
        margin-bottom: 0;
    }
}