@import '../../variables.scss';

.carouselContainer {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.hidden {
        opacity: 0;
        transform: translateY(20px);
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }


    .year {
        color: $accent-blue;
    }

    .description {
        color: $primary-blue
    }
}

.navButton {
    width: 65px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.03);

    &:first-child {
        margin-right: 80px;
    }
}

@media(max-width: $mobile) {
    .carousel {
        height: 210px;
    }
}